# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset files
data/Reviews.csv
data/*.csv
data/*.zip
data/processed/*.csv

# Model files
models/
*.pt
*.pth
*.pkl

# System files
.DS_Store
Thumbs.db
